{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <h1>Inscription</h1>
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username, {
            label: 'Nom d\'utilisateur',
            'attr': {
            'class': 'form-control',
            'id': 'usernameRegisterFormInput',
            'placeholder': 'Saisissez votre nom d\'utilisateur'
        }
            }) }}
            {{ form_row(registrationForm.email , {
            label: 'Adresse mail',
            'attr': {
            'class': 'form-control',
            'id': 'emailRegisterFormInput',
            'placeholder': 'Saisissez votre adresse mail'
        }
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                'attr': {
                        'class': 'form-control',
                        'id': 'passwordRegisterFormInput',
                        'placeholder': 'Saisissez votre mot de passe'
                        }
                }) 
            }}
            {{ form_row(registrationForm.agreeTerms, {
            'attr': {
            'class': 'form-check-input',
            'id': 'agreeTermsRegisterFormInput',
            }
            }) 
            }}
            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
